/* ====================================================
reset
==================================================== */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
background: transparent;
}

body {
line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
display: block;
}

button {
background-color: transparent;
border: none;
outline: none;
}

nav ul {
list-style: none;
}

blockquote,
q {
quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
content: "";
content: none;
}

ol,
ul {
list-style: none;
}

a {
margin: 0;
padding: 0;
color: #333;
vertical-align: baseline;
background: transparent;
text-decoration: none;
}

img {
max-width: 100%;
height: auto;
vertical-align: middle;
}

blockquote,
q {
quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
content: "";
content: none;
}

table {
border-collapse: collapse;
border-spacing: 0;
}
*{
    box-sizing: border-box;
}
body{
    width: 1280px;
    margin: 0px auto;
}
.list{
    display: flex;
    margin-top: 37px;
    margin-bottom: 36px;
}
.header{
    justify-content: space-between;
    display: flex;
}

.logo{
    margin: 32px 10px;
}
.item:hover{
    color: cadetblue;
}
.item{
    margin-right: 37px;
}
.item1:hover{
    color: cadetblue;
}
.item1{
    margin-right: 32px;
}
.copy-container{
    width: 1000px;
    margin-left: auto;
    background-image: url(img/photo-1520466809213-7b9a56adcd45%203.jpeg);
    background-size: cover;
    height: 706px;
}
.btn-container{
    color: #111;
}
.btn-container h1{
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    top: 200px;
    left: 260px;
    position: absolute;
}
.btn-container p{
    font-size: 30px;
    position: absolute;
    left: 260px;
    top: 520px;
    text-decoration: underline #707070;
}
.heading{
    text-align: center;
}
.heading h1{
    margin-top: 81px;
}
.heading p{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 39px;

}
.top-box img:hover{
    opacity: 0.5;
}

.top-box img{
    border: 1px solid #707070;
    height: 150px;
    width: 260px;
}
.box1:hover{
    opacity: 0.8;
    background-color:#B2B2B2;
}
.box1{
    display: inline-block;
    width: 384px;
    height: 371px;
    border: 1px solid #707070;
    text-align: center;
    transition: 0.3s;
}
.box1 h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.box{
    display:flex;
    justify-content: space-around;
}
.box1 p{
    font-size: 16px;
    line-height: normal;
    text-align: center;
}
.heading2{
    text-align: center;
    margin-bottom: 20px;
}
.contents2{
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
}
.box11{
    max-width: 260px;
}
.box11 h1{
    font-size: 16px;
    padding-top: 10px;
}
.box11 p{
    color: #939393;
    margin-top: 5px;
}
.box-wrap{
    display: flex;
    justify-content: space-between;
}
.contentsmini{
    background-image: url(img/photo-1523240795612-9a054b0db644%202.jpeg);
    background-size: cover;
    height: 378px;
    color:#fff;
    margin-top: 15px;
}
.contents3 h1{
    margin-top: 100px;
    text-align: center;
}
.contents3 h3{
    text-align: center;
    margin-top: 10px;
}
.title h3{
    padding-top: 200px;
    font-size: 25px;
}
.sample1:hover{
    background-color: darkgray;
    position: relative;
    top: 6px;
    transition: 0.3s;
}
.sample1{
    padding:20px 110px;
    border-color: #111;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    border: 1px solid #fff;
    font-weight: bold;
}
.sample{
    text-align: center;
    margin-top: 10px;
}
.top-title h1{
    text-align: center;
    margin-top: 106px;
    font-size: 36px;
}
.top-title h3{
    text-align: center;
    margin-top: 52px;
}
.form2{
    display: flex;
    margin-top: 70px;
    margin-bottom: 61px;
}
.form3{
    display: flex;
    margin-bottom: 70px;
}
.form4{
    display: flex;
    margin-bottom: 52px;
}
.form{
    margin-left: 235px;
    padding-right: 279px;
}
.name2{
    margin-right: 175px;
}
.name3{
    margin-right: 106px;
}
.name4{
    margin-right: 88px;
}
.botan1:hover{
    background-color: cornflowerblue;
    opacity: 0.8;
    position: relative;
    top: 6px;
    transition: 0.3s;
}
.botan{
    text-align: center;
}
.botan1{
    border: 1px solid #707070;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 #707070;
    display: inline-block;
    padding: 29px 110px;
    font-size: 20px;
}
.text{
    width: 526px;
    height: 39px;
    border: 1px solid #B2B2B2;
    background-color: #F0F0F0;
    border-radius: 5px;
}
textarea{
    width: 526px;
    height: 231px;
    background-color: #F0F0F0;
    border: 1px solid #B2B2B2;
    border-radius: 5px;
}
.form p{
    font-weight: bold;
}
footer p{
    text-align: center;
    margin-top: 98px;
    margin-bottom: 17px;
    font-size: 12px;
}


@media screen and (max-width: 768px){
    body{
        width: auto;
    }
    .header{
        height: 51px;
    }
    .list{
        font-size: 5px;
        margin: initial;
        margin-top: 25px;
    }
    .item{
        margin: initial;
        margin-right: 10px;
    }
    .item1{
        margin: initial;
        margin-right: 15px;
    }
    .logo{
        margin: initial;
        margin-top: 20px;
        margin-left: 10px;
        width: 80px;

    }
    .btn-container h1{
        font-size: 45px;
        position: static;
        padding-top: 125px;
        margin-left: 17px;
    }
    .btn-container p{
        width: 334px;
        height: 110px;
        font-size: 15px;
        position: static;
        margin-top: 23px;
        margin-left: 16px;
    }
    .copy-container{
        background-image: url(img/AFBD8E47-B917-40B0-90A8-09F2919F864F_1_105_c.jpeg);
        height: 503px;
        margin-top: -15px;
        width: 375px;
    }
    .heading h1{
        margin-top: initial;
        margin-top: 50px;
    }
    .heading p{
        font-size: 10px;
        margin-bottom: initial;
    }
    footer{
        text-align: center;
    }
    .btn-container h1{
        width: 100%;
    }
    .menu-icon{
        height: 12.5px;
        width: 18px;
    }
    .box{
        display: flex;
        flex-direction: column;
    }
    .box1{
        width: 340px;
        height: 371px;
        margin-left: 18px;
        margin-top: 30px;
    }
    .box1 p{
        width: 280px;
        height: 141px;
    }
    .box11{
        width: 100%;
    }
    .contents3 h3{
        font-size: 15px;
    }
    .contents3 h1{
        text-align: center
    }
    .contentsmini{
        background-image: url(img/B3457EDD-122C-4C48-9354-36A749D6B067_1_105_c.jpeg);
        height: 376px;
        width: 375px;
    }
    .sample{
        margin: initial;
        padding-top: 19px;
        text-align: center;
    }
    .box-wrap{
        display: block;
    }
    .top-box img{
        max-width: initial;
        margin: 18px;
        width: 340px;
        height: 189px;
    }
    .box11 p{
        margin-top: 7px;
        margin-left: 18px;
    }
    .box11 h1{
        width: 340px;
        height: 20px;
        margin: 11px 0 40px 18px;
    }
    .form2{
        display: block;
        margin-top: initial;
        padding-top: 25px;
    }
    .form3{
        display: block;
    }
    .form4{
        display: block;
    }
    .form{
        margin: initial;
        padding: initial;
    }
    .form p{
        margin-left: 18px;
    }
    .text{
        width: 340px;
        height: 36px;
        margin-left: 18px;
        margin-top: 10px;
    }
    textarea{
        width: 340px;
        height: 214px;
        margin-left: 18px;
        margin-top: 10px;
    }
    .top-title h1{
        font-size: 26px;
        margin-top: initial;
        margin-top: 35px;
    }.top-title p{
        font-size: 15px;
    }
    .top-title h3{
        font-size: 15px;
        margin-top: initial;
        margin-top: 30px;
    }
    .botan1:hover{
        background-color: darkgray;
        position: relative;
        top: 6px;
        transition: 0.3s;
    }
    .botan1{
        font-size: 15px;
    }
    .botan {
        text-align: center;
    }
    footer p{
    font-size: 10px;
    }
}